html
  head
    title= title
  body
    form(action='/getpics' method='get')
      div
        input(type='text' name='link' placeholder='link')
      div
        span(input='inputSpan')
        input(type='submit' value='Get Pictures')