html
  head
    title= title
    style
        include css/styles.css
  body
    form(action='/getpics' method='get')
      div
        input(type='text' name='username' placeholder='username')
      div
        span(input='inputSpan')
        input(type='submit' value='Get Pictures')